
.bib-year {
    margin-top: 1em;
}

.bib-entry {
    margin-bottom: 2em;
}

.bib-entry-more {
    margin: 1em 0 1em 3em;
}

.bib-entry-abstract {
    margin-bottom: .5em;
}

input.search {
    margin-bottom: 2em;
}

.zth-modal .modal-body {
    margin-top: 2em;
}
@media screen and (min-width: 768px) and (max-width: 899px) {
    .modal-lg {
        width: auto !important;
    }
}

@media screen and (min-width: 900px) {
    .modal-lg {
        width: 900px;
    }
}
