
.bib-year {
    margin-top: 1em;
}

.bib-entry {
    margin-bottom: 2em;
}

.bib-entry-more {
    margin: 1em 0 1em 3em;
}

.bib-entry-abstract {
    margin-bottom: .5em;
}

input.search {
    margin-bottom: 2em;
}
